<a href="https://colab.research.google.com/github/DanielGroup4/DanielDataAnalyst.github.io/blob/main/Final_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - ETL

# Asignación de revisión por pares - Ingeniero de datos - ETL

Estimated time needed: **20** minutes

## Objectives (Objetivos)

In this final part you will:

-   Run the ETL process
-   Extract bank and market cap data from the JSON file `bank_market_cap.json`
-   Transform the market cap currency using the exchange rate data
-   Load the transformed data into a seperate CSV

En esta parte final:

- Ejecutar el proceso ETL
- Extraer datos de capitalización de mercado y banco del archivo JSON `bank_market_cap.json`
- Transforme la moneda de capitalización de mercado utilizando los datos del tipo de cambio
- Cargue los datos transformados en un CSV separado

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

Para esta práctica de laboratorio, usaremos Python y varias bibliotecas de Python. Algunas de estas bibliotecas pueden estar instaladas en su entorno de laboratorio o en SN Labs. Es posible que otros deban ser instalados por usted. Las siguientes celdas instalarán estas bibliotecas cuando se ejecuten.

In [ ]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

## Imports

Import any additional libraries you may need here.

Importe cualquier biblioteca adicional que pueda necesitar aquí.

In [34]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section  

A medida que fluctúa el tipo de cambio, descargaremos el mismo conjunto de datos para simplificar el marcado. Tendrá el mismo formato que el conjunto de datos que usó en la última sección.

In [35]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2022-06-26 04:41:48--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.2’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2022-06-26 04:41:48 (389 MB/s) - ‘bank_market_cap_1.json.2’ saved [2815/2815]

--2022-06-26 04:41:48--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.2’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2022-06-26 04:41:49 (204 MB/s) - ‘bank_market_cap_2.json.2’ saved [1429/1429]

--2022-06-26 04:41:49--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.2’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2022-06-26 04:41:49 (77.4 MB/s) - ‘exchange_rates.csv.2’ saved [590/590]

## Extract

### JSON Extract Function (Función de Extracción archivos JSON)

This function will extract JSON files. (Está función extrerá archivos json)

In [54]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [55]:
# prueba del dataset
pd.read_json("bank_market_cap_1.json").head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

## Extract Function (Función de Extracción)

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

Defina la función de extracción que encuentra el archivo JSON `bank_market_cap_1.json` y llama a la función creada anteriormente para extraer datos de ellos. Almacene los datos en un marco de datos `pandas`. Use la siguiente lista para las columnas.

In [38]:
columns=['Name','Market Cap (US$ Billion)']

In [39]:
def extract():
    # Write your code here
    extracted_data = pd.DataFrame( extract_from_json("bank_market_cap_1.json"), columns= columns)
    return extracted_data

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

<b>Pregunta 1</b> Cargue el archivo <code>exchange_rates.csv</code> como marco de datos y encuentre el tipo de cambio de libras esterlinas con el símbolo <code>GBP</code>, guárdelo en la variable <code>exchange_rate</code>, se le pedirá el número. Sugerencia: establezca el parámetro <code>index_col</code> en 0.

In [40]:
# Write your code here
rate_data = pd.read_csv("exchange_rates.csv")
rate_data.head(2)

  Unnamed: 0     Rates
0        AUD  1.297088
1        BGN  1.608653

In [41]:
rate_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  33 non-null     object
 1   Rates       33 non-null     float64
dtypes: float64(1), object(1)
memory usage: 656.0+ bytes

In [42]:
rate_data.columns = ["Currency", "Rates"]
rate_data.head(2)

  Currency     Rates
0      AUD  1.297088
1      BGN  1.608653

In [43]:
rate_data[rate_data["Currency"] == "GBP"]

  Currency     Rates
9      GBP  0.732398

In [44]:
exchange_rate = rate_data[rate_data["Currency"] == "GBP"]["Rates"].values[0]
exchange_rate

0.7323984208000001

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

(Utilizando <code>exchange_rate</code> y el archivo `exchange_rates.csv` encuentre el tipo de cambio de USD a GBP. Escribe una función de transformación que)

- Changes the `Market Cap (US$ Billion)` column from USD to GBP

- Cambia la columna `Market Cap (US$ Billion)` de USD a GBP

- Rounds the Market Cap (US$ Billion) column to 3 decimal places

- Redondea la columna Market Cap (US$ Billion)` a 3 decimales

- Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

- Cambiar el nombre de `Market Cap (US$ Billion)" a "Market Cap (GBP$ Billion)`

In [45]:
usd_rates = pd.read_csv("exchange_rates.csv")
usd_rates.head(2)

  Unnamed: 0     Rates
0        AUD  1.297088
1        BGN  1.608653

In [46]:
temp = pd.read_json("bank_market_cap_1.json")
temp.head(2)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214

In [47]:
temp["Market Cap (GBP$ Billion)"] = temp["Market Cap (US$ Billion)"].apply(lambda x : x * exchange_rate)
temp.head(3)

,Name,Market Cap (US$ Billion),Market Cap (GBP$ Billion)
0,JPMorgan Chase,390.934,286.319444
1,Industrial and Commercial Bank of China,345.214,252.834188
2,Bank of America,325.331,238.271911

In [48]:
def transform(data):
    # Write your code here
    data["Market Cap (US$ Billion)"] = data["Market Cap (US$ Billion)"].apply(lambda x : x * exchange_rate) 
    data["Market Cap (US$ Billion)"] = data["Market Cap (US$ Billion)"].round(3)
    data.rename(columns={"Market Cap (US$ Billion)": "Market Cap (GBP$ Billion)"}, inplace = True)
    return data

In [49]:
targetfile = "bank_market_cap_gbp.csv"
logfile = "bank_market_cap_logfile.txt"

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

Cree una función que tome un marco de datos y cárguelo en un csv llamado `bank_market_cap_gbp.csv`. Asegúrese de establecer `index` en `False`.

In [50]:
def load(targetfile, data_to_load):
    # Write your code here
    data_to_load.to_csv(targetfile, index=False)

## Logging Function (Función Registro)

Write the logging function <code>log</code> to log your data:

Escriba la función de registro <code>log</code> para registrar sus datos:

In [51]:
def log(message):
    # Write your code here
    timestamp_format = '%H:%M:%S-%h-%d-%Y'#Hour-Minute-Second-MonthName-Day-Year
    now = datetime.now() #get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("bank_market_cap_logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process (Corriendo proceso ETL)

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

Registre el proceso en consecuencia utilizando el siguiente <code>"ETL Job Started"</code> y <code>"Extract phase Started"</code>

In [52]:
# Write your code here
log("ETL Job Started")

log("Extract Phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

<code>Pregunta 2</code> Use la función <code>extraer</code> e imprima las primeras 5 filas, tome una captura de pantalla:

In [56]:
# Call the function here
extracted_data = extract()

# Print the rows here
extracted_data.head(5)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

Registre los datos como <code>"Fase de extracción finalizada"</code>

In [57]:
# Write your code here
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [ ]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

<code>Pregunta 3</code> Use la función <code>transform</code> e imprima las primeras 5 filas de la salida, tome una captura de pantalla:

In [58]:
# Call the function here
transformed_data = transform(extracted_data)

# Print the first 5 rows here
transformed_data.head(5)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

Log your data <code>"Transform phase Ended"</code>

In [59]:
# Write your code here
log("Transform phase Ended")

### Load (carga)

Log the following `"Load phase Started"`.

Registre el siguiente `"Fase de carga iniciada"`.

In [60]:
# Write your code here
log("Load phase Started")

Call the load function

LLama la función load

In [61]:
# Write your code here
load(targetfile, transformed_data)

Log the following `"Load phase Ended"`.

Registre el siguiente `"Fase de carga finalizada"`.

In [62]:
# Write your code here
log("Load phase Ended")

log("ETL Job Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).